body {
  font-family: 'Work Sans', sans-serif;
}

.nav-link {
  color: #D1ABAD;
}

.nav-link:hover {
  color: #714955;
}

body {
  background-color: #84A59D;
}

h1 {
  color: white;
}

nav {
  background-color: #273E47;
}

.navbar-text {
  color: white;
}

.navbar-toggler {
  border: none;
}
