body {
    font-family: 'Work Sans', sans-serif;
}

.nav-link {
    color: $accent-color-light;
    &:hover {
        color: $accent-color-dark;
    }
}

body {
    background-color: $main-color-light;
}

h1 {
    color: $white;
}

nav {
    background-color: $main-color-dark;
}

.navbar-text {
    color: $white;
}

.navbar-toggler {
    border: none;

}