body{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 200;
    scroll-behavior: smooth;
    overflow-y: scroll;
    // scroll-snap-type: y mandatory;
    // scroll-behavior: smooth;
    // -ms-scroll-snap-type: mandatory;

}


section.container {
    
    // max-height: 100vh; 
    // scroll-snap-align: start; 
    // scroll-snap-stop: always; 
    scroll-margin-top: 10px; 
}

h1 {
    color: $black;
}

.hidden {
    display: none !important;
}

.about {
    text-align: center;
    h1{
        width: 100%;
    }
.about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin: auto;
    width: 100%;
    p{
        width: 85%;
        margin: auto;
    }
    img {
    width: 80%;
    border-radius: 2px;
    padding-bottom: 1em;
    margin: auto;
}
}
}

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }
  
  .js-scroll.scrolled {
    opacity: 1;
  }
  
  .scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
  }
  
  .scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
  }
  #home,
  #about-container,
  #portfolio
   {
    height: 95vh;
  }
