
html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
body {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 200;

}
}
body {
    overscroll-behavior-y: none;
    
}
section.container {
    scroll-snap-align: start;
    min-height: 100vh;
}

h1 {
    color: $black;
}

.hidden {
    display: none;
}
